# azure-pipelines-order-service.yml
trigger:
- main

variables:
  acrName: 'microsdnhubacr'
  acrServiceConnection: 'acr-microsdnhubacr'
  azureServiceConnection: 'Azure-Conn-AKS-DAVID'

  imageRepository: 'orderservice'
  dockerfilePath: $(System.DefaultWorkingDirectory)/Orders.Api/Dockerfile
  deploymentYamlPath: 'aks-deployment-order.yaml'

stages:
# ----------------------------------------------------
# 1. CI - Build & Push a ACR
# ----------------------------------------------------
- stage: BuildAndPush
  displayName: 1. Build and Push Image
  jobs:
  - job: Build
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Docker@2
      displayName: Build and Push to ACR
      inputs:
        command: buildAndPush
        containerRegistry: $(acrServiceConnection)
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        buildContext: $(System.DefaultWorkingDirectory)
        tags: |
          $(Build.BuildId)

# ----------------------------------------------------
# 2. CD - Deploy a AKS
# ----------------------------------------------------
- stage: Deploy
  displayName: 2. Deploy to AKS
  dependsOn: BuildAndPush
  jobs:
  - deployment: DeployJob
    pool:
      vmImage: 'ubuntu-latest'
    environment: 'AKS-Deployment-Env'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: KubernetesManifest@1
            displayName: Deploy to AKS
            inputs:
              action: deploy
              connectionType: azureResourceManager
              azureSubscriptionEndpoint: $(azureServiceConnection)
              kubernetesCluster: aks-dotnethub
              manifests: |
                $(System.DefaultWorkingDirectory)/$(deploymentYamlPath)
              containers: |
                $(acrName).azurecr.io/$(imageRepository):$(Build.BuildId)
