trigger:
- main

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildConfiguration: 'Release'

stages:
- stage: Build
  displayName: 'Compilar y Probar'
  jobs:
  - job: BuildJob
    steps:
    - task: UseDotNet@2
      displayName: 'Instalar SDK .NET 8'
      inputs:
        version: '8.x'

    - script: dotnet restore $(solution)
      displayName: 'Restaurar dependencias'

    - script: dotnet build $(solution) --configuration $(buildConfiguration)
      displayName: 'Compilar Solución'

    # AQUÍ SE EJECUTAN TUS 6 TESTS Y SE MIDE LA COBERTURA
    - task: DotNetCoreCLI@2
      displayName: 'Ejecutar Unit Tests'
      inputs:
        command: 'test'
        projects: '**/*Tests.csproj'
        arguments: '--configuration $(buildConfiguration) --collect "Code Coverage"'

    - task: DotNetCoreCLI@2
      displayName: 'Publicar API'
      inputs:
        command: 'publish'
        publishWebProjects: true
        arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)'
        zipAfterPublish: true

    - publish: $(Build.ArtifactStagingDirectory)
      artifact: drop

- stage: Deploy
  displayName: 'Despliegue a Producción'
  dependsOn: Build
  condition: succeeded()
  jobs:
  - deployment: DeployJob
    # ESTO ACTIVA LA APROBACIÓN MANUAL QUE CONFIGURASTE
    environment: 'Produccion' 
    strategy:
      runOnce:
        deploy:
          steps:
          - checkout: none
          - script: echo "Desplegando OrderService en .NET 8..."